* {
    background-color: #EEEEEE;
}

#display-title {
    text-align: center;
    color: #1E1E1E;
    border-bottom: solid #1E1E1E;
    padding: 20px;
    font-size: 25px;
}

#display-description {
    padding: 20px;
    font-size: 16px;
}

.btn-container {
    text-align: center;
    padding: 20px;
}

.col-md-6 {
    padding: 20px;
    text-align: center;
}

.col-md-6 img {
    margin-top: 10px;
    cursor: pointer;
}

.col-md-6 img:hover {
    opacity: 0.8;
}

.portfolio-title {
    padding: 20px 0;
    text-align: left;
}

.portfolio-description {
    text-align: left;
    padding: 20px 0;
}

hr {
    color: #1E1E1E;
}

#site {
    margin: 20px;
}

/* Media Queries */
/* Medium */
@media (min-width: 768px) {
    #display-title {
        font-size: 30px;
    }
    #display-description {
        font-size: 18px;
    }
}

/* Large and Beyond */
@media (min-width: 992px) {
    #display-title {
        font-size: 40px;
    }
    #display-description {
        font-size: 20px;
    }
}