body {
    background-color: #1E1E1E;
    font-family: 'JetBrains Mono', monospace;
    color: #1E1E1E;
}

/* navigation menu styling */
.menu {
    background-color: #1E1E1E;
    color: #EEEEEE;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 2;
}

.tab {
    font-size: 20px;
    margin: 15px 0;
    padding: 0 25px;
    border-right: #EEEEEE solid;
    display: inline-block;
}

.tab a {
    color: #EEEEEE;
    text-decoration: none;
}

.tab a:hover {
    color: plum;
}

.myname {
    float: right;
    border-right: none;
}

.main-content {
    position: relative;
    text-align: center;
    top: 60px;
}

.title {
    font-size: 25px;
    margin: 50px 0;
}

.welcome-text {
    font-size: 24px;
    padding-bottom: 20px;
}

/* section styling */
.section {
    width: 100%;
    height: auto;
}

.home {
    background-image: url("../img/IMG_1994.JPG");
    background-size: cover;
    background-color: #EEEEEE;
    text-align: left;
}

.projects {
    background-image: url("../img/IMG_2105.JPG");
    background-size: cover;
    background-color: #EEEEEE;
    text-align: right;
    color: #EEEEEE;
}

.resume {
    background-image: url("../img/IMG_2674.JPG");
    background-size: cover;
    background-color: #EEEEEE;
}

.photography {
    background-image: url("../img/IMG_2176.JPG");
    background-size: cover;
    background-color: #EEEEEE;
    text-align: right;
}

.photography .title {
    margin-bottom: 20px;
}

.photography p {
    margin-bottom: 20px;
}

.contact {
    background-color: #1E1E1E;
    color: #EEEEEE;
    text-align: left;
    padding-bottom: 20px;
}

/* card styling */
.card {
    border-radius: 20px;
    background-color: #1E1E1E;
    cursor: pointer;
    margin-bottom: 20px;
}

.light-card {
    background-color: #EEEEEE;
    color: #1E1E1E;
    text-align: center;
    cursor: default;
}

.light-card p {
    text-align: left;
}

.card-title {
    padding: 10px;
    text-align: center;
    color: #EEEEEE;
    border-bottom: #EEEEEE solid;
    margin-bottom: 0;
}

.light-title {
    color: #1E1E1E;
    border-bottom: #1E1E1E solid;
}

.card-img {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-deck a{
    text-decoration: none;
}

.card-columns {
    column-count: 1;
}

/* button styling */
:root {
    --fortune-btn-color: #EEEEEE;
    --fortune-btn-hover-color: #EEEEEE;
    --fortune-btn-bg: #1E1E1E;
    --fortune-btn-hover-bg: #606060;
    --fortune-btn-hover-border: #1E1E1E;
    --fortune-btn-active-border: #1E1E1E;
    --fortune-btn-focus-shadow-rgb: 150, 150, 150;
}

.btn-main{
    --bs-btn-color: var(--fortune-btn-color);
    --bs-btn-bg: var(--fortune-btn-bg);
    --bs-btn-border-color: var(--fortune-btn-bg);
    --bs-btn-hover-color: var(--fortune-btn-hover-color);
    --bs-btn-hover-bg: var(--fortune-btn-hover-bg);
    --bs-btn-hover-border-color: var(--fortune-btn-hover-border);
    width: 80%;
    font-family: 'JetBrains Mono', monospace;
    border-radius: 15px;
}

/* Media Queries */
/* Medium */
@media (min-width: 768px) {
    .title {
        font-size: 30px;
    }
    .card-columns {
        column-count: 3;
    }
}

/* Large and Beyond */
@media (min-width: 992px) {
    .title {
        font-size: 40px;
    }
}