body {
    background-color: #EEEEEE;
    font-family: 'JetBrains Mono', monospace;
    color: #1E1E1E;
}

.menu {
    background-color: #1E1E1E;
    color: #EEEEEE;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 2;
}

.tab {
    font-size: 25px;
    margin: 10px 25px;
    border-right: #1E1E1E;
    display: inline-block;
}

.tab a {
    color: #EEEEEE;
    text-decoration: none;
}

.tab a:hover {
    color: plum;
}

.myname {
    float: right;
}

.main-content {
    position: relative;
    text-align: center;
    top: 100px;
}

.section {
    width: 100%;
    height: auto;
}

.title {
    font-size: 40px;
    margin-top: 50px;
}

.welcome-text {
    font-size: 24px;
}

.home {
    background-image: url("../img/IMG_1994.JPG");
    background-size: cover;
    height: 100vh;
    background-color: #EEEEEE;
    text-align: left;
}

.projects {
    background-image: url("../img/IMG_2105.JPG");
    background-size: cover;
    height: 100vh;
    background-color: #EEEEEE;
    text-align: right;
    color: #EEEEEE;
}

.resume {
    background-image: url("../img/IMG_2674.JPG");
    background-size: cover;
    height: 100ch;
    background-color: #EEEEEE;
}

.photography {
    background-image: url("../img/IMG_2177.JPG");
    background-size: cover;
    height: 100vh;
    background-color: #EEEEEE;
}

.card {
    display: inline-block;
    width: 33%;
}