body {
    background-color: #EEEEEE;
    font-family: 'Fira Sans', sans-serif;
    color: #1E1E1E;
}

.tab-select {
    background-color: #795695;
    color: #EEEEEE;
    width: 100%;
    
}

.tab {
    /* font-size */

}